$color-red: #d81b60;
$color-blue: #1565c0;
$color-yellow: #fdd835;
$color-black: #212121;
$color-white: #fff;
// a map type variable for button color
$mapColorButton: ( red: $color-red, blue: $color-blue, yellow: $color-yellow);